.topics{
	display: inline;
	margin-top: 50px;

}

.project{

	margin-top: 40px;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #180000 ;
}
.header h3{
	text-align: center;
}
.header{
	
}
