
.logo .img-responsive{
	width: 100%;
	height: 70%;
}
.firstrow{
	padding-top: 30px;
	font-family: 'Raleway', sans-serif;
}
.sidebar{
	background-color: #e5ede8;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
.sidebar a{
   color:black;
}
.sidebar ul hr {
	border: 1px solid auto black;
}
.sidebar1{
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
.sidebar1 a{
   color:black;
}
.sidebar1 abbr{
	border:none;
}
.color{
	font-family: 'Raleway', sans-serif;
	background-color: rgb(194,218,205);
	opacity: 2.5;
}
.footer{
font-family: 'Raleway', sans-serif;
height:100%;
width: 100%;
background-color: #004d70;	

}

.footer .col-sm-2{
	margin-top: 40px;
	padding-bottom: 40px;
	
}
.html5{
	
	text-align: center;
	
	color: white;
	
	
}
.css3{
	text-align: center;
	color: white;
}
.cc{
	text-align: center;
	color: white;
}
.chair{
	text-align: center;
	color: white;
}
.git{
	text-align: center;
	color: white;
}